{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/graphql/(.*)$",
		"^@/shared/providers(.*)$",
		"^@/shared/components(.*)$",
		"^@/shared/components/ui(.*)$",
		"^@/shared/config(.*)$",
		"^@/shared/schemas(.*)$",
		"^@/shared/constants(.*)$",
		"^@/shared/lib(.*)$",
		"^@/shared/service(.*)$",
		"^@/shared/utils(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
